* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(rgb(218, 218, 218), rgb(153, 153, 153))
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}


.logo-header {
    height: 72px;
}

.title-header {
    font-size: large;
    font-weight: 100;
}

.content{
    border-top: 1px solid rgb(153, 131, 131);
    margin-bottom: 48px;
}

.content-media {
    display: flex;
    padding-top: 105px;
    flex-wrap: wrap;
    justify-content: center;
}

.content-image {
    height: 195px;
}

.buttons {
    display: flex;
    padding-top: 15px;
    justify-content: center;   
    gap: 10px;
}

footer {
    display: flex;
    border-top: 1px solid rgb(153, 131, 131);
    padding: 25px;    
    gap: 10px;
}